<ng-include src="'app/menu.html'"></ng-include>

<edit>
    <form ngnoform="">
        <ul ng-if="vm.errors.length > 0" class="error-block" id="message-block">
            <li data-ng-repeat="error in vm.errors" data-code="{{ error.code }}">{{ error.code }}</li>
        </ul>
        <table class="form-table">
            <tbody>
            <tr>
                <td>Eesnimi:</td>
                <td><input ng-model="vm.firstName" id="first-name"></td>
            </tr>
            <tr>
                <td>Perekonnanimi:</td>
                <td><input ng-model="vm.lastName" id="last-name"></td>
            </tr>
            <tr>
                <td>Kood:</td>
                <td><input ng-model="vm.code" id="code"></td>
            </tr>
            <tr>
                <td>Kliendi tüüp:</td>
                <td>
                    <select ng-model="vm.type" id="type">
                        <option></option>
                        <option data-ng-repeat="customerType in vm.customerTypes">{{ customerType }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Telefonid:</td>
                <td></td>
            </tr>
            <tr data-ng-repeat="phone in vm.phones">
                <td></td>
                <td>
                    <select ng-model="phone.type" id="phone-select-{{$index}}">
                        <option></option>
                        <option data-ng-repeat="phoneType in vm.phoneTypes">{{ phoneType }}</option>
                    </select>

                    <input ng-model="phone.value" id="phone-value-{{$index}}">

                    <a ng-click="vm.removePhone($index)" href id="delete-phone-link-{{$index}}">kustuta</a>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2"><a ng-click="vm.addPhone()" href id="add-phone-link">Lisa telefon</a></td>
            </tr>
            <tr>
                <td align="right" colspan="2"><br>
                    <a ng-click="vm.addNew()" href id="save-link">Salvesta</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</edit>