<ng-include src="'app/menu.html'"></ng-include>

<search>
    <input ng-model="search" id="search-string" class="ng-untouched ng-pristine ng-valid">

    <br><br>

    <table class="list-table">
        <thead>
        <tr>
            <th scope="col">Eesnimi</th>
            <th scope="col">Perekonnanimi</th>
            <th scope="col">Kood</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="customer in vm.customers | filter : search">
            <td id="first-name-0">
                <a href="#/edit/{{customer.id}}">{{customer.firstName}}</a>
            </td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.code}}</td>
            <td><a ng-click="vm.deleteCustomer(customer.id)" href id="delete-button-{{customer.code}}">Kustuta</a></td>
        </tr>
        </tbody>
    </table>
</search>